.card {
  width: 250px; 
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.card-img-top {
    height: 190px;
    border-bottom: 1px solid #eee;
}



.card-title,
.card-text {
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
}

.card .btn {
    margin-top: 0.25rem;
}

.row .col {
    display: flex;
}

.row .col .card {
    flex: 1 1 auto;
}