.product-form {
  width: 100%;              
  max-width: 600px; 
  margin: 0 auto;   
  background: #fff;
  border-radius: 8px;
}

.product-form .form-label {
  text-align: left;         
  display: block;
  font-weight: 500;
}


.offcanvas.offcanvas-end {
  width: 600px !important;
}